.overview{
    text-align: center;
    margin-bottom: 5px;
}

.table{
    overflow-x:auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000
}

.maxwidth{
    width:100%;
}

.search{
    float: right;
    margin-right: 10px;
}

.genre{
    float: right;
}

